/*
Primary: #234777

Secondary: #6F4E37

Accent: #D4A574

Neutral: #F5F5F5

Dark Neutral: #1A1A1A

Complementary: #FFD700
*/

*{
    margin: 0;
    font-family: "Quicksand", serif;
}
body{   
    display: flex;
    flex-direction: column;
    background-color: #234777;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
body div{
    display: flex;
}
h1, h2, h3 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
p {
    font-family: "Quicksand", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12vh;
}

.logo-container{
    height: 14vh;
    width: 25vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-container img{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.logo-container h1{
    font-family: "Quicksand", serif;
    color: #F5F5F5;
    font-weight: 700;
}

.login-container{
    height: 34vh;
    width: 39vh;
    background-color: #F5F5F5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.482);
    border-radius: 8%;
    flex-direction: column;
    justify-content: space-around;
    gap: 11%;
    align-items: center;
}

.login-container h1{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

.form-table{
    flex-direction: column;   
    width: 80%;
}

.form-table label{
    font-size: 1.6em;
}

.form-table input{
    height: 2.5vh;
    padding-left: 2%;
    font-size: 1.1em;
}

.button{
    background-color: #234777;
    color: #F5F5F5;
    height: 4vh;
    width: 10vh;
    font-size: 1.4em;
    border: none;
}

.button:hover{
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #F5F5F5;
    color: #234777;
}