/*
Primary: #234777

Secondary: #6F4E37

Accent: #D4A574

Neutral: #F5F5F5

Dark Neutral: #1A1A1A

Complementary: #FFD700
*/

body{   
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #F5F5F5;
}
h1, h2, h3 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}
p {
    font-family: "Quicksand", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12vh;
}

.cafeBackground{
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: -10;
    position: absolute;
}
.cafeBackground img{
    z-index: -10;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    object-fit: cover;
}
.welcome-layer{    
    justify-content: space-between;
    display: flex;
    margin: 0;
}
.sideViewLeft{
    display: flex;
    z-index: 10;
    height: 100vh;
    width: 19vw;
    background-color: #234777;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.34);
}
.logoDisplay{
    display: flex;
    height: 260px;
    width: auto;
}
.logoDisplay img{
    height: 100%;
    width: auto;    
}

.navigationTab{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigationTab nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigationTab a{
    font-family: "Quicksand", serif;
    font-size: 1.3vw;
    color: #F5F5F5;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 19px 0;
    text-decoration: none;
}
.navigationTab a:hover{
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #ffffff77;    
    color: #234777;
}

.contrastButton{
    margin-top: 20%;
}
.contrastButton a{
    font-size: 2.0vh;
    letter-spacing: 2px;
    font-family: "Quicksand", serif;
    color: #D4A574;
    background-color: #6F4E37;
    padding: 26px 32px;
    cursor: pointer;
    text-decoration: none;
}
.contrastButton a:hover{
    transition: color 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.534);
    color: #6F4E37;
    background-color: #D4A574;
}

.contacts{
    margin-top: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23vh;
}
.contacts p{
    font-family: "Merriweather", serif; 
    font-size: 1.5vh;
    color: #f5f5f569;
    text-align: center;
}
.contacts a{
    text-decoration: none;
    color: #f5f5f569;
}

.sideViewRight{
    display: flex;
    z-index: 10;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin-left: 5%;
    justify-content: center;
}
.specialText{
    margin: 0 15px;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0 0 10px #D4A574;
    color: #D4A574;
}
.normalText{
    margin: 0;
    color: #F5F5F5;
    text-shadow: 0 0 20px #000000;
}
.Entrance h1{
    font-size: 3em;
    font-weight: 500;
    display: inline-block;
}
.Entrance small{
    display: block;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4em;
    padding-left: 10%;
    color: #b37f5b;
    text-shadow: 0 0 20px #D4A574;
}
.scrollHereText{
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
}
.scrollHereText h1{
    display: inline-block;
    margin: 0;
    transform: rotate(90deg);
    color: #D4A574;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0 0 20px #D4A574;
}
.scrollHereText p{
    margin: 0;
    display: inline-block;
    font-size: 1em;
}
.layer-1{
    width: 100%;
    display: flex;
    background-color: #F5F5F5;
    height: 150vh;
    justify-content: center;
    align-items: center;
}
.layer-1 p{
    color: #00000069;
}


/*sidebar to topbar*/
.sideViewLeft.movedUp{
    position: fixed;
    left: 0;
    top: 0;
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    pointer-events: 0;
}
.sideViewLeft.movedUp .welcome-layer{
    flex-direction: column;
}
.sideViewLeft.movedUp .logoDisplay{
    height: 100%;
    width: 24%;
    padding-left: 2%;
}
.sideViewLeft.movedUp .logoDisplay img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sideViewLeft.movedUp .navigationTab{
    display: flex;
    width: 100%;
}
.sideViewLeft.movedUp .navigationTab nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}
.sideViewLeft.movedUp .navigationTab nav a{
    font-size: 1.3rem;
    width: 15%;
}
.sideViewLeft.movedUp .contrastButton{
    display: flex;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 2%;
    width: 36%;
}
.sideViewLeft.movedUp .contrastButton a{
    padding: 8% 8%;
    font-size: 1rem;
}
.sideViewLeft.movedUp .contacts{
    display: none;
}

/*responsiveness tings*/
@media (max-width: 1200px){
    .welcome-layer{
        flex-direction: column;
    }
    .sideViewLeft{
        height: 12vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .logoDisplay{
        height: 100%;
        width: 24%;
        padding-left: 2%;
    }
    .logoDisplay img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .navigationTab{
        display: flex;
        width: 100%;
    }
    .navigationTab nav{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        
    }
    .navigationTab nav a{
        font-size: 1.3rem;
        width: 15%;
    }

    .contrastButton{
        display: flex;
        margin-top: 0%;
        margin-right: 0%;
        margin-left: 2%;
        width: 36%;
    }
    .contrastButton a{
        padding: 10% 8%;
        font-size: 1rem;
    }
    .contacts{
        display: none;
    }
    

    .sideViewRight{
        width: 100%;
        margin: 0;
        flex-direction: column;
        margin-top: 29%;
        height: auto;
        margin-bottom: 16%;
    }
    .Entrance{
        margin-bottom: 3%;
    }
    .sideViewRight small{
        padding: 0;
        text-align: center;
    }
}